---
http_interactions:
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/parallels?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4ff1cf59d9763d9d2c69fe3b489393c1"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"parallels","hosted":true,"hosted_token":"2e2d83a5-9e61-4913-9614-7224c281d3e6","original_url":null,"created_at":"2016-08-26T18:57:43.326Z","updated_at":"2016-08-26T18:57:43.326Z","download_url":"https://atlas.hashicorp.com/atlas-ruby/boxes/example/versions/1.0.0/providers/parallels.box"}'
  recorded_at: Mon, 05 Sep 2016 18:05:17 GMT
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/parallels/upload?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"32f7f79c38af6de82be1babcd3d58816"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"upload_path":"https://binstore-test.hashicorp.com/20f17812-3c24-43bb-b8f6-3876bd8a2a88","token":"20f17812-3c24-43bb-b8f6-3876bd8a2a88"}'
  recorded_at: Mon, 05 Sep 2016 18:05:17 GMT
recorded_with: VCR 2.9.3
