---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.1.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"59213c43cd48d48f79e05bfcd691a898"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.1.0","status":"unreleased","description_html":null,"description_markdown":null,"created_at":"2015-07-27T16:58:07.437Z","updated_at":"2015-07-27T16:58:07.437Z","number":"1.1.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.1.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.1.0/revoke","providers":[]}'
  recorded_at: Mon, 27 Jul 2015 17:07:41 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.1.0/provider/virtualbox?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Resource not found!"]}'
  recorded_at: Mon, 27 Jul 2015 17:07:42 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.1.0/providers?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"463debc3ea9ef30e19c1d19d3140f481"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2015-07-27T17:07:43.648Z","updated_at":"2015-07-27T17:07:43.648Z","download_url":"https://app.vagrantup.com/atlas-ruby/boxes/example/versions/1.1.0/providers/virtualbox.box"}'
  recorded_at: Mon, 27 Jul 2015 17:07:43 GMT
recorded_with: VCR 2.9.3
