---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-box","username":"atlas-ruby","short_description":"A
        new box","description":"A new box"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Resource not found!"],"success":false}'
  recorded_at: Sun, 18 Mar 2018 21:19:14 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/boxes
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-box","username":"atlas-ruby","short_description":"A
        new box","description":"A new box"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e311e27a7f8fd0450f7250afafa8ec51"
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2018-03-18T21:19:25.444Z","updated_at":"2018-03-18T21:19:25.444Z","tag":"atlas-ruby/new-box","name":"new-box","short_description":"A
        new box","description_html":"<p>A new box</p>\n","username":"atlas-ruby","description_markdown":"A
        new box","private":true,"current_version":null,"versions":[]}'
  recorded_at: Sun, 18 Mar 2018 21:19:25 GMT
recorded_with: VCR 3.0.3
