---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/virtualbox?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox","url":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Resource not found!"],"success":false}'
  recorded_at: Sun, 18 Mar 2018 22:47:13 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/providers?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox","url":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"454c937cfe2f7308871bd1b6e60ee33a"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T22:47:14.821Z","updated_at":"2018-03-18T22:47:14.821Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/virtualbox.box"}'
  recorded_at: Sun, 18 Mar 2018 22:47:15 GMT
recorded_with: VCR 3.0.3
