---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/vmware?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"vmware","url":"http://boxes.nickcharlton.net.s3.amazonaws.com/trusty64-chef-vmware.box"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Resource not found!"]}'
  recorded_at: Fri, 02 Oct 2015 14:07:51 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/providers?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"vmware","url":"http://boxes.nickcharlton.net.s3.amazonaws.com/trusty64-chef-vmware.box"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"2c29d1937fa780215f4306f967ceaa6f"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"vmware","hosted":false,"hosted_token":null,"original_url":"http://boxes.nickcharlton.net.s3.amazonaws.com/trusty64-chef-vmware.box","created_at":"2015-10-02T14:07:51.787Z","updated_at":"2015-10-02T14:07:51.787Z","download_url":"https://app.vagrantup.com/atlas-ruby/boxes/example/versions/1.0.0/providers/vmware.box"}'
  recorded_at: Fri, 02 Oct 2015 14:07:51 GMT
recorded_with: VCR 2.9.3
