---
http_interactions:
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/nickcharlton/new-box?access_token=6Gy1JUap63eSwyVT3rCjE3m7KntSdnEN6uEDKxJbbzTGdsnSKGXwRz0zbnIFHBUA3bs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6dfb0b9ee9e6b236f909bebc5133f43c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-07-23T10:11:02.176Z","updated_at":"2015-07-23T10:11:02.176Z","tag":"nickcharlton/new-box","name":"new-box","short_description":null,"description_html":null,"username":"nickcharlton","description_markdown":null,"private":null,"current_version":null,"versions":[]}'
  recorded_at: Thu, 23 Jul 2015 10:11:31 GMT
- request:
    method: delete
    uri: https://atlas.hashicorp.com/api/v1/box/nickcharlton/new-box?access_token=6Gy1JUap63eSwyVT3rCjE3m7KntSdnEN6uEDKxJbbzTGdsnSKGXwRz0zbnIFHBUA3bs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6dfb0b9ee9e6b236f909bebc5133f43c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-07-23T10:11:02.176Z","updated_at":"2015-07-23T10:11:02.176Z","tag":"nickcharlton/new-box","name":"new-box","short_description":null,"description_html":null,"username":"nickcharlton","description_markdown":null,"private":null,"current_version":null,"versions":[]}'
  recorded_at: Thu, 23 Jul 2015 10:11:32 GMT
recorded_with: VCR 2.9.3
