---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b574002c0aa44c2ace28605dffb8624"
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2018-03-18T21:19:25.444Z","updated_at":"2018-03-18T21:19:25.444Z","tag":"atlas-ruby/new-box","name":"new-box","short_description":"A
        short description of this box.","description_html":"<p>A new box</p>\n","username":"atlas-ruby","description_markdown":"A
        new box","private":true,"current_version":null,"versions":[]}'
  recorded_at: Sun, 18 Mar 2018 21:37:40 GMT
- request:
    method: delete
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b574002c0aa44c2ace28605dffb8624"
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2018-03-18T21:19:25.444Z","updated_at":"2018-03-18T21:19:25.444Z","tag":"atlas-ruby/new-box","name":"new-box","short_description":"A
        short description of this box.","description_html":"<p>A new box</p>\n","username":"atlas-ruby","description_markdown":"A
        new box","private":true,"current_version":null,"versions":[]}'
  recorded_at: Sun, 18 Mar 2018 21:37:41 GMT
recorded_with: VCR 3.0.3
