---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/user/atlas-ruby?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"ed637d0f4c30e1a5c66901df5eaad912"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"username":"atlas-ruby","avatar_url":"https://www.gravatar.com/avatar/db083f712142474c96cb2b828d6ad8c9?s=460&d=mm","profile_html":"<p>A
        test account for the <a href=\"https://github.com/nickcharlton/atlas-ruby\">Atlas
        Ruby client</a>.</p>\n","profile_markdown":"A test account for the [Atlas
        Ruby client][ruby-client].\r\n\r\n[ruby-client]: https://github.com/nickcharlton/atlas-ruby","boxes":[]}'
  recorded_at: Wed, 13 May 2015 11:38:17 GMT
recorded_with: VCR 2.9.3
