---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/virtualbox?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Resource not found!"]}'
  recorded_at: Fri, 24 Jul 2015 12:34:42 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/providers?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d81e6c6f805a74f5146243b15e37b17e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2015-07-24T12:34:31.050Z","updated_at":"2015-07-24T12:34:31.050Z","download_url":"https://app.vagrantup.com/atlas-ruby/boxes/example/versions/1.0.0/providers/virtualbox.box"}'
  recorded_at: Fri, 24 Jul 2015 12:34:43 GMT
recorded_with: VCR 2.9.3
