---
http_interactions:
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/nickcharlton/new-box?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4b33fd02a4d8013b653720a24cb56629"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-07-24T10:49:51.842Z","updated_at":"2015-07-24T10:49:51.842Z","tag":"nickcharlton/new-box","name":"new-box","short_description":"Something,
        something.","description_html":null,"username":"nickcharlton","description_markdown":null,"private":false,"current_version":null,"versions":[]}'
  recorded_at: Fri, 24 Jul 2015 10:50:14 GMT
- request:
    method: put
    uri: https://atlas.hashicorp.com/api/v1/box/nickcharlton/new-box?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-box","short_description":"A short description of
        this box.","username":"nickcharlton","current_version":null,"is_private":false,"description":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f288f525d60709042450f794af7efbe2"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-07-24T10:49:51.842Z","updated_at":"2015-07-24T10:49:51.842Z","tag":"nickcharlton/new-box","name":"new-box","short_description":"A
        short description of this box.","description_html":null,"username":"nickcharlton","description_markdown":null,"private":false,"current_version":null,"versions":[]}'
  recorded_at: Fri, 24 Jul 2015 10:50:15 GMT
recorded_with: VCR 2.9.3
