---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"94ddb55f996e3fda2a83a2c3cbefba57"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","status":"unreleased","description_html":"<p>An
        initial version.</p>\n","description_markdown":"An initial version.","created_at":"2015-05-13T14:37:42.728Z","updated_at":"2015-05-13T14:37:42.728Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/revoke","providers":[]}'
  recorded_at: Wed, 13 May 2015 14:44:13 GMT
recorded_with: VCR 2.9.3
