---
http_interactions:
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"87bab070107e515e7f57bc7392e8cea5"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-05-13T14:29:39.093Z","updated_at":"2015-05-13T14:29:39.093Z","tag":"atlas-ruby/example","name":"example","short_description":"An
        example box.","description_html":null,"username":"atlas-ruby","description_markdown":null,"private":false,"current_version":null,"versions":[]}'
  recorded_at: Wed, 13 May 2015 14:33:33 GMT
recorded_with: VCR 2.9.3
