---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/user/atlas-ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80ba237c68ed70f8a37d1aeb0fad8c3a"
    body:
      encoding: ASCII-8BIT
      string: '{"username":"atlas-ruby","avatar_url":"https://www.gravatar.com/avatar/db083f712142474c96cb2b828d6ad8c9?s=460&d=mm","profile_html":"<p>A
        test account for the <a href=\"https://github.com/nickcharlton/atlas-ruby\">Atlas
        Ruby client</a>.</p>\n","profile_markdown":"A test account for the [Atlas
        Ruby client][ruby-client].\r\n\r\n[ruby-client]: https://github.com/nickcharlton/atlas-ruby","boxes":[]}'
  recorded_at: Wed, 14 Feb 2018 16:52:39 GMT
recorded_with: VCR 3.0.3
