---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.0.0"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Resource not found!"],"success":false}'
  recorded_at: Sun, 18 Mar 2018 22:18:23 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/versions?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.0.0"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"629f12137fa7830981b9ca0fbd4c09af"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0.0","status":"unreleased","description_html":null,"description_markdown":null,"created_at":"2018-03-18T22:18:24.165Z","updated_at":"2018-03-18T22:18:24.165Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/revoke","providers":[]}'
  recorded_at: Sun, 18 Mar 2018 22:18:24 GMT
recorded_with: VCR 3.0.3
