---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70992750ad3a2dcce1b754fb99d9932a"
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2015-05-13T14:29:39.093Z","updated_at":"2018-02-14T07:42:23.230Z","tag":"atlas-ruby/example","name":"example","short_description":"An
        example box.","description_html":null,"username":"atlas-ruby","description_markdown":null,"private":false,"current_version":null,"versions":[]}'
  recorded_at: Wed, 14 Feb 2018 17:12:33 GMT
recorded_with: VCR 3.0.3
