---
http_interactions:
- request:
    method: put
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.0.0","description":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":["Resource not found!"]}'
  recorded_at: Fri, 24 Jul 2015 11:25:42 GMT
- request:
    method: post
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/versions?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.0.0","description":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"52dccf982a22340f074c4a9fa80227e2"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","status":"unreleased","description_html":null,"description_markdown":null,"created_at":"2015-07-24T11:25:32.437Z","updated_at":"2015-07-24T11:25:32.437Z","number":"1.0.0","release_url":"https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/release","revoke_url":"https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/revoke","providers":[]}'
  recorded_at: Fri, 24 Jul 2015 11:25:44 GMT
recorded_with: VCR 2.9.3
