---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a29c06326f05ee9bec0bb45a1d5f1510"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0.0","status":"unreleased","description_html":"<p>New
        Box</p>\n","description_markdown":"New Box","created_at":"2018-03-18T22:37:47.040Z","updated_at":"2018-03-18T23:07:56.559Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/revoke","providers":[{"name":"parallels","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T23:04:49.705Z","updated_at":"2018-03-18T23:04:49.705Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/parallels.box"},{"name":"vmware","hosted":false,"hosted_token":null,"original_url":"http://boxes.nickcharlton.net.s3.amazonaws.com/trusty64-chef-vmware.box","created_at":"2018-03-18T22:59:12.467Z","updated_at":"2018-03-18T22:59:12.467Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/vmware.box"},{"name":"vmware_desktop","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T22:47:14.821Z","updated_at":"2018-03-18T23:01:33.432Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/vmware_desktop.box"}]}'
  recorded_at: Sun, 18 Mar 2018 23:16:29 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/release?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"391aadd767cfa478f2f9057668e0fce9"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.[...]
