---
http_interactions:
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/virtualbox?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d81e6c6f805a74f5146243b15e37b17e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2015-07-24T12:34:31.050Z","updated_at":"2015-07-24T12:34:31.050Z","download_url":"https://atlas.hashicorp.com/atlas-ruby/boxes/example/versions/1.0.0/providers/virtualbox.box"}'
  recorded_at: Fri, 24 Jul 2015 12:34:56 GMT
- request:
    method: put
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/virtualbox?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"vmware_desktop","download_url":"https://atlas.hashicorp.com/atlas-ruby/boxes/example/versions/1.0.0/providers/virtualbox.box"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4b638b721d03791ed6676c0aff8e39bc"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"vmware_desktop","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2015-07-24T12:34:31.050Z","updated_at":"2015-07-24T12:34:46.282Z","download_url":"https://atlas.hashicorp.com/atlas-ruby/boxes/example/versions/1.0.0/providers/vmware_desktop.box"}'
  recorded_at: Fri, 24 Jul 2015 12:34:58 GMT
recorded_with: VCR 2.9.3
