---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8014e8b895743483b41e38e1a5707cdc"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0.0","status":"unreleased","description_html":"<p>This
        is a description</p>\n","description_markdown":"This is a description","created_at":"2018-03-18T22:18:24.165Z","updated_at":"2018-03-18T22:22:57.666Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/revoke","providers":[]}'
  recorded_at: Sun, 18 Mar 2018 22:25:40 GMT
recorded_with: VCR 3.0.3
