---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"81af3bf9a64a19875c561d51638041cd"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","status":"unreleased","description_html":null,"description_markdown":"","created_at":"2015-07-24T11:43:17.485Z","updated_at":"2015-07-24T13:11:38.946Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/revoke","providers":[{"name":"virtualbox","hosted":false,"hosted_token":null,"original_url":"http://example.com/virtualbox.box","created_at":"2015-07-24T13:11:38.918Z","updated_at":"2015-07-24T13:11:38.918Z","download_url":"https://app.vagrantup.com/atlas-ruby/boxes/example/versions/1.0.0/providers/virtualbox.box"}]}'
  recorded_at: Fri, 24 Jul 2015 13:12:05 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/release?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9f6af73d270fe8ac9a5bdf01094a03b3"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","status":"active","description_html":null,"description_markdown":"","created_at":"2015-07-24T11:43:17.485Z","updated_at":"2015-07-24T13:11:54.563Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/revoke","providers":[{"name":"virtualbox","hosted":false,"hosted_token":null,"original_url":"http://example.com/virtualbox.box","created_at":"2015-07-24T13:11:38.918Z","updated_at":"2015-07-24T13:11:38.918Z","download_url":"https://app.vagrantup.com/atlas-ruby/boxes/example/versions/1.0.0/providers/virtualbox.box"}]}'
  recorded_at: Fri, 24 Jul 2015 13:12:06 GMT
recorded_with: VCR 2.9.3
