---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/virtualbox?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"454c937cfe2f7308871bd1b6e60ee33a"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T22:47:14.821Z","updated_at":"2018-03-18T22:47:14.821Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/virtualbox.box"}'
  recorded_at: Sun, 18 Mar 2018 23:01:32 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/virtualbox?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"vmware_desktop","original_url":null,"created_at":"2018-03-18
        22:47:14 UTC","updated_at":"2018-03-18 22:47:14 UTC","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/virtualbox.box","url":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a239abc1d588a7febfe620a7db686d9"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"vmware_desktop","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T22:47:14.821Z","updated_at":"2018-03-18T23:01:33.432Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/vmware_desktop.box"}'
  recorded_at: Sun, 18 Mar 2018 23:01:33 GMT
recorded_with: VCR 3.0.3
