---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e40c580a85fd4f01a85e1e3e81e78fb2"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.1.0","status":"unreleased","description_html":null,"description_markdown":"","created_at":"2018-03-18T23:10:37.693Z","updated_at":"2018-03-18T23:10:37.693Z","number":"1.1.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0/revoke","providers":[]}'
  recorded_at: Sun, 18 Mar 2018 23:10:46 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0/provider/virtualbox
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox","url":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Resource not found!"],"success":false}'
  recorded_at: Sun, 18 Mar 2018 23:10:47 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0/providers
    body:
      encoding: UTF-8
      string: '{"provider":{"name":"virtualbox","url":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e6b1a5568368874018bf2dad35be1109"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T23:10:48.028Z","updated_at":"2018-03-18T23:10:48.028Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.1.0/providers/virtualbox.box"}'
  recorded_at: Sun, 18 Mar 2018 23:10:48 GMT
recorded_with: VCR 3.0.3
