---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"629f12137fa7830981b9ca0fbd4c09af"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0.0","status":"unreleased","description_html":null,"description_markdown":null,"created_at":"2018-03-18T22:18:24.165Z","updated_at":"2018-03-18T22:18:24.165Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/revoke","providers":[]}'
  recorded_at: Sun, 18 Mar 2018 22:22:56 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.0.0","status":"unreleased","created_at":"2018-03-18
        22:18:24 UTC","updated_at":"2018-03-18 22:18:24 UTC","description":"This is
        a description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8014e8b895743483b41e38e1a5707cdc"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0.0","status":"unreleased","description_html":"<p>This
        is a description</p>\n","description_markdown":"This is a description","created_at":"2018-03-18T22:18:24.165Z","updated_at":"2018-03-18T22:22:57.666Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/revoke","providers":[]}'
  recorded_at: Sun, 18 Mar 2018 22:22:57 GMT
recorded_with: VCR 3.0.3
