---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77217069c6589cd55facb7a992e5985a"
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2018-03-18T22:14:42.737Z","updated_at":"2018-03-18T22:28:26.962Z","tag":"atlas-ruby/new-box","name":"new-box","short_description":"A
        new box","description_html":"<p>A new box</p>\n","username":"atlas-ruby","description_markdown":"A
        new box","private":false,"current_version":null,"versions":[]}'
  recorded_at: Sun, 18 Mar 2018 22:37:45 GMT
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.1.0","description":"New Box"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Resource not found!"],"success":false}'
  recorded_at: Sun, 18 Mar 2018 22:37:46 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/versions
    body:
      encoding: UTF-8
      string: '{"version":{"version":"1.1.0","description":"New Box"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22b90102851f3f6144ce4908d83347d7"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.1.0","status":"unreleased","description_html":"<p>New
        Box</p>\n","description_markdown":"New Box","created_at":"2018-03-18T22:37:47.040Z","updated_at":"2018-03-18T22:37:47.040Z","number":"1.1.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.1.0/revoke","providers":[]}'
  recorded_at: Sun, 18 Mar 2018 22:37:47 GMT
recorded_with: VCR 3.0.3
