---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f1e478d08548356de2332e64f890b243"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","status":"unreleased","description_html":"<p>This
        is a description</p>\n","description_markdown":"This is a description","created_at":"2015-07-24T11:25:32.437Z","updated_at":"2015-07-24T11:28:17.654Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/revoke","providers":[]}'
  recorded_at: Fri, 24 Jul 2015 11:31:45 GMT
- request:
    method: delete
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f1e478d08548356de2332e64f890b243"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","status":"unreleased","description_html":"<p>This
        is a description</p>\n","description_markdown":"This is a description","created_at":"2015-07-24T11:25:32.437Z","updated_at":"2015-07-24T11:28:17.654Z","number":"1.0.0","release_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/release","revoke_url":"https://app.vagrantup.com/api/v1/box/atlas-ruby/example/version/1.0.0/revoke","providers":[]}'
  recorded_at: Fri, 24 Jul 2015 11:31:46 GMT
recorded_with: VCR 2.9.3
