---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/parallels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1273153ea71dcec7b99117f2e65a4315"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"parallels","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T23:04:49.705Z","updated_at":"2018-03-18T23:04:49.705Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/parallels.box"}'
  recorded_at: Sun, 18 Mar 2018 23:05:32 GMT
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/parallels/upload
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83fc167d13e7bcd1f0fb44d70f9cc209"
    body:
      encoding: ASCII-8BIT
      string: '{"upload_path":"https://archivist.vagrantup.com/v1/object/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJib3hlcy85ZjEyY2UzMy1lNDMyLTRkOWQtOTRiOC1jNjAzMjdhYmM5NWEiLCJtb2RlIjoidyIsImV4cGlyZSI6MTUyMTQxNTIzMywiY2FsbGJhY2siOiJodHRwczovL2FwcC52YWdyYW50dXAuY29tL2FwaS9pbnRlcm5hbC9hcmNoaXZpc3QvY2FsbGJhY2sifQ.WOMGRND7VyU6-hD-fUJnwldj4ykve2JqT3cG62bP2Dg"}'
  recorded_at: Sun, 18 Mar 2018 23:05:33 GMT
recorded_with: VCR 3.0.3
