---
http_interactions:
- request:
    method: get
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/virtualbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"953d12888b40d8c7a43f55d8336f6ead"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T23:07:47.563Z","updated_at":"2018-03-18T23:07:47.563Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/virtualbox.box"}'
  recorded_at: Sun, 18 Mar 2018 23:07:55 GMT
- request:
    method: delete
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box/version/1.0.0/provider/virtualbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"953d12888b40d8c7a43f55d8336f6ead"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"virtualbox","hosted":true,"hosted_token":null,"original_url":null,"created_at":"2018-03-18T23:07:47.563Z","updated_at":"2018-03-18T23:07:47.563Z","download_url":"https://vagrantcloud.com/atlas-ruby/boxes/new-box/versions/1.0.0/providers/virtualbox.box"}'
  recorded_at: Sun, 18 Mar 2018 23:07:56 GMT
recorded_with: VCR 3.0.3
