---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-box?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-box","is_private":null,"description":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jul 2015 10:11:12 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/boxes?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-box","is_private":null,"description":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6dfb0b9ee9e6b236f909bebc5133f43c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-07-23T10:11:02.176Z","updated_at":"2015-07-23T10:11:02.176Z","tag":"atlas-ruby/new-box","name":"new-box","short_description":"A new box","description_html":null,"username":"atlas-ruby","description_markdown":null,"private":null,"current_version":null,"versions":[]}'
  recorded_at: Thu, 23 Jul 2015 10:11:13 GMT
recorded_with: VCR 2.9.3
