---
http_interactions:
- request:
    method: put
    uri: https://app.vagrantup.com/api/v1/box/atlas-ruby/new-public-box?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-public-box","username":"atlas-ruby","short_description":"A
        new box","description":"A new box","private":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Resource not found!"],"success":false}'
  recorded_at: Sun, 18 Mar 2018 21:28:52 GMT
- request:
    method: post
    uri: https://app.vagrantup.com/api/v1/boxes?access_token=test-token
    body:
      encoding: UTF-8
      string: '{"box":{"name":"new-public-box","username":"atlas-ruby","short_description":"A
        new box","description":"A new box","is_private":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47ea3ce056ab91ae14a58c1d62261389"
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2018-03-18T21:28:59.736Z","updated_at":"2018-03-18T21:28:59.736Z","tag":"atlas-ruby/new-public-box","name":"new-public-box","short_description":"A
        new box","description_html":"<p>A new box</p>\n","username":"atlas-ruby","description_markdown":"A
        new box","private":false,"current_version":null,"versions":[]}'
  recorded_at: Sun, 18 Mar 2018 21:28:59 GMT
recorded_with: VCR 3.0.3
