---
http_interactions:
- request:
    method: get
    uri: https://atlas.hashicorp.com/api/v1/box/atlas-ruby/example/version/1.0.0/provider/vmware_desktop?access_token=test-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - '"c057159426fabba72316010a40eca75f"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"vmware_desktop","hosted":false,"hosted_token":null,"original_url":"http://example.com/boxes/example/1.0.0/vmware_desktop.box","created_at":"2015-05-13T14:45:23.008Z","updated_at":"2015-05-13T14:45:23.008Z","download_url":"https://atlas.hashicorp.com/atlas-ruby/boxes/example/versions/1.0.0/providers/vmware_desktop.box"}'
  recorded_at: Wed, 13 May 2015 14:47:46 GMT
recorded_with: VCR 2.9.3
